@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Onest', sans-serif;
}

body::-webkit-scrollbar {
  width: 15px;

}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(25deg, #56bd9b, #23305e);
  border-radius: 5px;
}

.App {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}